@model Karnel_Travels.Models.Package;
@{
    Layout = "_AdminLayout";
}


<div class="main_content_iner ">
    <div class="container-fluid plr_30 body_white_bg pt_30">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="white_box mb_30">
                    <div class="row justify-content-center">
                        <div class="col-lg-6">

                            <div class="modal-content cs_modal">
                                <div class="modal-header">
                                    <h5 class="modal-title">Update Package</h5>
                                </div>
                                <div class="modal-body">
                                    <form enctype="multipart/form-data" asp-controller="Admin" asp-action="UpdatePackage2">
                                        @Html.AntiForgeryToken()
                                        <div class="form-group mb-3">
                                            <input type="hidden" asp-for="PackageId" class="form-control" />
                                        </div>
                                        <div>
                                            <input type="text" class="form-control" asp-for="PackageName" placeholder="Enter Package Name">
                                        </div>
                                        <div>
                                            <input class="form-control pt-0" type="file" name="file">
                                            <img src="~/@Model.PackageImage" width="60" height="60">
                                        </div>
                                        <div>
                                            <input type="text" class="form-control" asp-for="PackageDescription" placeholder="Enter Package Description">
                                        </div>
                                      
                                        <div>
                                            <select class="form-select mb-2" asp-items="ViewBag.Travel" asp-for="PackageTravelId">
                                                <option selected>Select Travel Mode</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="form-select mb-2" asp-items="ViewBag.TouristSpot" asp-for="PackageTouristSpotId">
                                                <option selected>Select TouristSpot</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="form-select mb-2" asp-items="ViewBag.Restaurant" asp-for="PackageRestaurantId">
                                                <option selected>Select Restaurant</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="form-select mb-2" asp-items="ViewBag.Resort" asp-for="PackageResortId">
                                                <option selected>Select Resort</option>
                                            </select>
                                        </div>
                                        <div>
                                            <select class="form-select mb-2" asp-items="ViewBag.Hotel" asp-for="PackageHotelId">
                                                <option selected>Select Hotel</option>
                                            </select>
                                        </div>

                                        <button type="submit" class="btn_1 full_width text-center">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
