@model IEnumerable<Karnel_Travels.Models.Package>


@foreach (var Package in Model)
{
    <div class="col-md-4 ">

        <div class="project-wrap Package" data-table="Package" data-id="@Package.PackageId">
            <a  class="img">
                <img src="~/@Package.PackageImage" class="img" alt="Tourist Image" />
                <span class="price">Rs @Package.PackagePrice/person</span>
            </a>
            <div class="text p-4">
                <p class="star mb-2">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                <span class="days">8 Days Tour</span>
                <h3><a href="#">@Package.PackageName</a></h3>
                <p class="location"><span class="fa fa-map-marker"></span>@Package.PackageDescription</p>
                <ul>
                    <li><span class="flaticon-shower"></span>2</li>
                    <li><span class="flaticon-king-size"></span>3</li>
                    <li><span class="flaticon-mountains"></span></li>
                </ul>
            </div>
        </div>
    </div>

}