@model IEnumerable<Karnel_Travels.Models.Resort>

@foreach (var Resorts in Model)
{
    <div class="col-md-4">
        <div class="project-wrap Resorts" data-table="Resorts" data-id="@Resorts.ResortId">
            <a class="img">
                <img src="~/@Resorts.ResortImage" class="img" alt="Hotel Image" />
                <span class="price">Rs @Resorts.ResortPrice/person</span>
            </a>
            <div class="text p-4">
                <p class="star mb-2">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                </p>
                <h3><a>@Resorts.ResortName</a></h3>
                <p class="location"><span class="fa fa-map-marker"></span>@Resorts.ResortLocation</p>
                <ul>

                </ul>
            </div>
        </div>
    </div>
}