@model IEnumerable<Karnel_Travels.Models.Package>

<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('../images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="fa fa-chevron-right"></i></a></span> <span>Packages <i class="fa fa-chevron-right"></i></span></p>
                <h1 class="mb-0 bread">Packages</h1>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section ftco-no-pb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="search-wrap-1 ftco-animate">
                    <form id="searchForm" class="search-property-1">
                        <div class="row no-gutters">
                            <div class="col-lg d-flex">
                                <div class="form-group p-4 border-0">
                                    <label for="#">Packages</label>
                                    <div class="form-field">
                                        <div class="icon"><span class="fa fa-search"></span></div>
                                        <input id="searchInput" type="text" class="form-control" placeholder="Search Package">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md d-flex">
                                <div class="form-group d-flex w-100 border-0">
                                    <div class="form-field w-100 align-items-center d-flex">
                                        <input type="submit" value="Search" class="align-self-stretch form-control btn btn-primary">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container">
        <div id="packageContainer" class="row">
            @Html.Partial("_PackageCards", Model)
        </div>
    </div>
</section>

<section class="ftco-intro ftco-section ftco-no-pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <div class="img" style="background-image: url(../images/bg_2.jpg);">
                    <div class="overlay"></div>
                    <h2>We Are Karnel Travel Agency</h2>
                    <p>We can manage your dream building A small river named Duden flows by their place</p>
                    <p class="mb-0"><a href="#" class="btn btn-primary px-4 py-3">Ask For A Quote</a></p>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    $(document).ready(function () {
        // Fetch all records initially
        Package('');

        // Attach keyup event handler to the search input
        $('#searchInput').keyup(function () {
            var searchText = $(this).val(); // Get the search text
            if (searchText.trim() === '') {
                Package(); // Fetch all hotels if search text is empty
            } else {
                Package(searchText); // Fetch hotels based on search text
            }
        });

        // Attach click event handler to the hotel cards
        $('#packageContainer').on('click', '.project-wrap.Package', function () {
            var table = $(this).data('table'); // Fetch table name from data-table attribute
            var id = $(this).data('id'); // Fetch ID from data-id attribute
            window.location.href = '/' + table + '/Details/' + id; // Navigate to correct details page
        });
    });

    // Function to fetch hotels via AJAX
    function Package(searchText = '') {
        $.ajax({
            url: '/Home/FetchPackage',
            type: 'GET',
            data: { searchText: searchText },
            success: function (result) {
                $('#packageContainer').html(result); // Update the HTML container with the fetched hotel cards
            },
            error: function (xhr, status, error) {
                console.error(xhr.responseText);
            }
        });
    }
</script>

